/*
   #14. about style
 *==========================================*/
.about{
  padding: 108px 0 140px;
  background-color: #f6f8f9;
  overflow: hidden;
  .row {
    margin-right: -30px;
    margin-left: -30px;
  }
  .row>.col,  .row> [class*=col-] {
    padding-right: 30px;
    padding-left: 30px;
  }
  p{
    margin-bottom: 40px;
  }
  .about-subtitle{
    font-weight: $bold;
    font-size: 24px;
    line-height: 54px;
    color: #93B9FF;
  }
  .about-title{
    font-weight: $bold;
    font-size: 40px;
    line-height: 54px;
    color: #223f78;
    margin-bottom: 15px;
  }
}

.about-img{
  background:url(#{$assetPath}/pattern-blue.png) no-repeat center right;
  background-size: auto;
  padding-right: 30px;
  padding-bottom: 37px;
}
.promo-video__url{
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 50%;
  width: 122px;
}
.play-btn{
  position: relative;
  background: $secondary-color;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 120px;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  text-align: center;
  border:none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border:none;
  @media #{$xs-layout} {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  &:hover{
    background-color: $light-blue;
  }
}