/*
    #11. Counter area style
 *==========================================*/
.counter-area{
 padding: 60px 0;
  overflow: hidden;
  .row {
    margin-right: -30px;
    margin-left: -30px;
  }
  .row>.col,  .row> [class*=col-] {
    padding-right: 30px;
    padding-left: 30px;
  }
  .counter-item__1{
    max-width: 300px;
    margin: 0 auto 10px auto;
  }
  .counter-item__2{
    max-width: 250px;
    margin: 0 auto 10px auto;
  }
  .counter-item__3{
    max-width: 235px;
    margin: 0 auto 10px auto;
  }

  .counter{
    color:$primary-color;
    font-family: $base-font;
    font-size: 90px;
    font-weight: $light;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    display: block;
  }
  h6{
    color:$primary-color;
    font-family: $base-font;
    font-size: 14px;
    font-weight: $bold;
    font-style: normal;
    letter-spacing: 6.22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p{
    color: #7e8085;
    font-size: 14px;
    font-weight: $light;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
  }
}