$primary-color: #223f78;
$dark: #2c2d3c;
$secondary-color: #2f5bea;
$black: #000000;
$white: #ffffff;
$deep-dark: #0A0425;
$gray: #d7d7d7;
$whitesmoke: #f6f8f9;
$yellow:#FDB72E;
$dark-yellow:#f2ab00;
$past:#5ebaaa;
$green:#429f00;
$dark-red:#b20000;
$light-red:#c13038;
$light-blue: #93b9ff;


$base-font: 'Aileron';
$assetPath: "images";

$font-size-base: 16px;
$font-18: ceil($font-size-base*1.125);
$font-20: ceil($font-size-base*1.25);
$font-22: ceil($font-size-base*1.375);
$font-24: ceil($font-size-base*1.5);
$font-26: ceil($font-size-base*1.625);
$font-28: ceil($font-size-base*1.75);
$font-30: ceil($font-size-base*1.875);
$font-32: ceil($font-size-base*2);
$font-34: ceil($font-size-base*2.125);
$font-36: ceil($font-size-base*2.25);
$font-38: ceil($font-size-base*2.375);
$font-40: ceil($font-size-base*2.5);
$font-42: ceil($font-size-base*2.625);
$font-44: ceil($font-size-base*2.75);
$font-46: ceil($font-size-base*2.875);
$font-48: ceil($font-size-base*3);
$font-50: ceil($font-size-base*3.125);
$font-52: ceil($font-size-base*3.25);
$font-54: ceil($font-size-base*3.375);
$font-56: ceil($font-size-base*3.5);
$font-58: ceil($font-size-base*3.625);
$font-60: ceil($font-size-base*3.75);


$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

$xl-layout: 'only screen and (min-width: 1200px) and (max-width: 1440px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs-layout: 'only screen and (max-width: 767px)';
$sm-layout: 'only screen and (min-width: 568px) and (max-width: 767px)';
$xss-layout: 'only screen and (max-width: 480px)';